@font-face {
  font-family: 'BrandonTextF-Bold';
  src: url('../fonts/BrandonTextF/BrandonTextF-Bold/BrandonTextF-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BrandonTextF/BrandonTextF-Bold/BrandonTextF-Bold.woff') format('woff'), 
       url('../fonts/BrandonTextF/BrandonTextF-Bold/BrandonTextF-Bold.ttf')  format('truetype'), 
       url('../fonts/BrandonTextF/BrandonTextF-Bold/BrandonTextF-Bold.svg#BrandonTextF-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonTextF-Regular';
  src: url('../fonts/BrandonTextF/BrandonTextF-Regular/BrandonTextF-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BrandonTextF/BrandonTextF-Regular/BrandonTextF-Regular.woff') format('woff'), 
       url('../fonts/BrandonTextF/BrandonTextF-Regular/BrandonTextF-Regular.ttf')  format('truetype'), 
       url('../fonts/BrandonTextF/BrandonTextF-Regular/BrandonTextF-Regular.svg#BrandonTextF-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonTextF-Medium';
  src: url('../fonts/BrandonTextF/BrandonTextF-Medium/BrandonTextF-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BrandonTextF/BrandonTextF-Medium/BrandonTextF-Medium.woff') format('woff'), 
       url('../fonts/BrandonTextF/BrandonTextF-Medium/BrandonTextF-Medium.ttf')  format('truetype'), 
       url('../fonts/BrandonTextF/BrandonTextF-Medium/BrandonTextF-Medium.svg#BrandonTextF-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonTextF-Black';
  src: url('../fonts/BrandonTextF/BrandonTextF-Black/BrandonTextF-Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BrandonTextF/BrandonTextF-Black/BrandonTextF-Black.woff') format('woff'), 
       url('../fonts/BrandonTextF/BrandonTextF-Black/BrandonTextF-Black.ttf')  format('truetype'), 
       url('../fonts/BrandonTextF/BrandonTextF-Black/BrandonTextF-Black.svg#BrandonTextF-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

