@media (max-width: 1126px){
	.contact .short-content{
		font-size: 20px;
	}
	.swiper-container.screen2.swiper-container-horizontal>.swiper-pagination-bullets{
		display: block;
	}	
}
@media (max-width: 1024px){

	.content-top p,
	.content-bottom p{
		font-size: 24px;
	}
	.content-top p span,
	.content-bottom p span{
		font-size: 33px;
	}
	.screen2,
	.screen3,
	.screen4{
		height: auto;
		width: 100%;
	}
	.icon-button{
		top:44.5%;
	}
	.swiper-container{
		z-index: 0;
	}
	.swiper-container.screen2{
		width: 96%;
	}
	.swiper-container.screen4 {
	    width: 67%;
	    height: 330px;
	}
	.site-menu ul li:nth-child(2) {
	    padding: 125px 97px 163px 3px;
	}
	.site-menu ul li:nth-child(3) {
	    padding: 24px 32px;
	}
	.site-menu ul li:nth-child(4) {
	    padding: 77px 33px;
	}
}
@media (max-width: 768px){
	.site-menu ul li:nth-child(2) {
	    padding: 110px 97px 163px 1px;
	}
	.site-menu ul li:nth-child(3) {
	    padding: 25px 20px;
	}
	.site-menu ul li:nth-child(4) {
	    padding: 75px 24px;
	}
	.content-top p,
	.content-bottom p{
		font-size: 17px;
	}
	.content-top p span,
	.content-bottom p span{
		font-size: 26px;
	}
	.swiper-container.screen4{
		height: 275px;
	}
}
@media (max-width: 767px){
	.swiper-container.screen3 .swiper-slide{
		width: 350px;
   		height: 270px;
	}
	.swiper-container.screen4 {
	    height: 255px;
	}
	.screen1-left,
	.play-youtube{
		margin-top: 56px;
		height: 440px;
		margin-left: 0;
	}
	.play-youtube{
		width: 100%;
		margin-left: 0;
	}
	.logo-white,
	.logo-red,
	.language{
		display: none;
	}
	.site-menu ul{
		position: fixed;
		height: 76%;
		text-align: center;
		z-index: 999;
		padding: 35px;
		width: 100%;
		background-color: rgba(26, 26, 26, 0.97); 
		margin-top: 57px;
	}
	.site-menu ul li {
		display: block;
		-webkit-transform: rotate(0deg);
	}
	.site-menu ul li a {
		display: block;
		padding: 13px 0;
		color:#fff;
		font-weight: 600;
		font-size: 13px
	}
	 .site-menu ul li a:hover{
		-ms-transform: scale(1.2, 1.2); /* IE 9 
	    -webkit-transform: scale(1.2, 1.2); /* Safari */
	    transform: scale(1.2, 1.2);
	    transition: transform .3s ease;
	}
	.site-menu ul li:nth-child(1),
	.site-menu ul li:nth-child(2),
	.site-menu ul li:nth-child(3),
	.site-menu ul li:nth-child(4){
		padding: 25px;
	}
	.screen1-content{
		margin: 0;
	}
	.screen1-right{
		height: auto;
		padding-top: 0;
	}
	.navbar {
		position: fixed;
		width: auto;
	}
	.navbar-toggle {
		margin-right: 25px;
		border: 1px solid #c72031;
	}
	.navbar-toggle:hover {
		-ms-transform: scale(1.1, 1.1); /* IE 9 */
	    -webkit-transform: scale(1.1, 1.1); /* Safari */
	    transform: scale(1.1, 1.1);
	    transition: transform .5s ease;
	}
	.navbar-collapse {
		padding-right: 0;
		padding-left: 0;
	}	
	.nav-logo{
		display: block;
		position: absolute;
		left: 25px;
		top: 3px;
	}
	.nav-logo img{
		width: 100px;
		height: 50px;
	}
	.navbar-header{
		display: block;
		box-shadow: 0px 3px 20px #888888;
	}
	form.form-screen1 .checkbox {
		margin-top: 20px !important;
	}
}
@media(max-width: 480px){
	.language,
	.logo{
		display: none;
	}
	.screen1-left,
	.play-youtube{
		margin-top: 41px;
		height: 370px;
	}
	.icon .icon-item{
		padding: 9px 12px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px
	}
	.icon a .icon-item i{
		font-size: 15px;
	}
	.icon-button{
		top:47.2%;		
	}
	.icon-button button{
		padding: 17px 7px;
		border-top-left-radius: 6px;
		border-bottom-left-radius: 6px;
		font-size: 13px;
	}
	.content-top p,
	.content-bottom p{
		font-size: 23px;
	}
	.content-top p span,
	.content-bottom p span{
		font-size: 35px;
	}
	.screen1,
	.screen2,
	.screen3{
		padding: 15px 0;
	}
	.screen-title .title-top{
		font-size: 27px;
	}
	.screen-title .title-bottom{
		font-size: 14.5px;
	}
	.swiper-container.screen3 {
	    width: 100%;
		height: 300px;
	}
	.swiper-container.screen3 .swiper-slide {
	    width: 300px;
	    height: 220px;
	}
	.swiper-container.screen4 {
	    width: 100%;
	    height: 238px;
	}
	.swiper-container.screen4 .swiper-slide.swiper-slide-active,
	.swiper-container.screen4 .swiper-slide.swiper-slide-next,
	.swiper-container.screen4 .swiper-slide.swiper-slide-prev{
		width: 100%;
	}
	.swiper-container.screen4 .swiper-slide .title {
	    font-size: 20px;
	    margin:35% 0;
	}
	.swiper-container.screen4 .swiper-slide .text {
	    font-size: 10px;
	}
	.register{
		height: 38px;
		width: 300px;
	}
	.register-box{
		height: 38px;
	}
	.register-box input{
		padding:18.6px 17px;
		font-size: 11px;
	}
	.register-box input::-webkit-input-placeholder{
		font-size: 11px;
	}
	.register-box button{
		padding:13.2px 26.5px;
		font-size: 10px;
	}
	.footer{
		font-size: 12px;
	}
	.info-video b {
	    font-size: 18px;
	}
	.info-video .ratting {
	    font-size: 14px;
	}
}

@media(max-width: 375px){
	.content-top p,
	.content-bottom p{
		font-size: 19px;
	}
	.content-top p span,
	.content-bottom p span{
		font-size: 30px;
	}
	.screen-title .title-top{
		font-size: 25px;
	}
	.screen2-content .img-info{
		margin-top: 0;
	}
	.screen3-content .description{
		font-size: 13.1px;
	}
	.swiper-container.screen4{
		width: 100%;
		height: 200px;
		margin-bottom: 30px; 
	}
	.swiper-container.screen4 .swiper-slide .title{
    	margin: 38% 0;		
	}
	.swiper-container.screen3 .swiper-slide {
	    width: 250px;
	    height: 180px;
	}
	.swiper-container.screen3{
		height: 240px;
	}
	.register{
		margin-top: 25px;
	}
}

@media(max-width: 320px){
	.content-top p,
	.content-bottom p{
		font-size: 14px;
	}
	.content-top p span,
	.content-bottom p span{
		font-size: 24px;
	}
	.screen-title .title-top{
		font-size: 20px;
	}
	.screen-title .title-bottom{
		font-size: 13px;
	}
	.contact .short-content {
	    font-size: 17px;
	}
	.swiper-container.screen4{
		height: 160px;
	}
	.swiper-container.screen4 .swiper-slide .title {
	    margin: 32% 0;
	}
	.footer{
		font-size: 10px;
	}
	.register {
	    width: 277px;
	}
}	
