body{
	padding: 0;
    position: relative;
    margin: 0;
    height: 100%;
}
.wrapper{
	width: 100%;
    height: 100% !important;
    overflow: hidden;
    padding: 0;
}
ul{
	list-style-type: none;
}
.site-menu ul li a,
.screen-title .title-bottom,
.description,
.register-box input::-webkit-input-placeholder,
.register-box button{
	font-family: "BrandonTextF-Medium";
}
.language ul li.choose a,
.language ul li.search input,
::-webkit-input-placeholder,
form input.info,
form p{
	color: #989898;
}
.screen-title .title-bottom,
.language ul li a,
.img-icon,
.img-icon:hover,
.img-icon p,
.img-content{
	color: #151515;
}
/*=================menu============*/
.site-menu ul{
	width: 6%;
	background-color:#ad132d;
	padding: 45px 0 0 0;
	position: fixed;
	height: 100vh;
	left: 0;
	top: 0;
	z-index: 999;
    /*display: block;*/
    bottom: 0;
}
.site-menu ul li{
	text-transform: uppercase;
	-webkit-transform: rotate(-90deg);
	padding:30px 0;
	text-align: center;
	vertical-align: middle;
}
.site-menu ul li:nth-child(1){
	padding: 50px -20px 20px 28px;
}
.site-menu ul li:nth-child(2){
	padding: 140px 95px 155px 0px;
}
.site-menu ul li:nth-child(3){
	padding: 16px 41px;
}
.site-menu ul li:nth-child(4){
	padding: 83px 42px;
}
.site-menu ul li a{
	text-decoration: none;
	font-weight: 500;
	font-size: 11px;
	color: #f53353;
	white-space: nowrap;
}
.site-menu ul li.active a,
.icon-button button,
.icon .icon-item a i,
.screen1-content,
form button{
	color: #fdfdfd;
}
/*----navbar--------?*/

.navbar-toggle .icon-bar {
    background: #c72031;
}
.navbar-toggle {
    padding: 10px 10px;
    margin-top: 0;
    margin-right: 75px;
    margin-left: 5px;
    margin-bottom: 0 !important;
}
.navbar {
    min-height: 0;
    margin-bottom: 0;
    border: 0;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
}
.navbar-header{
	background-color: #f7f7f7;
	position: fixed;
	z-index: 10000;
	width: 100%;
	height: auto;
	padding: 10px;
	display: none;
}
.nav-logo{
	display: none;
}
/*========================icon=========================*/
.icon{
	position: fixed;
	right: 0;
	top:55%;
}
.icon-button{
	position: fixed;
	right: 0;
	top:43.2%;
	display: none;
}
.icon-button button{
	background-color: #d41737;
	font-weight: 600;
	padding: 28px 20px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border:0;
	outline: 0;
	font-size: 15px;
	font-family: "BrandonTextF-Black";

}
.icon .icon-item{
	background-color: #d41737;
	padding: 16px 18px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	margin-top: 7px;
	text-align: center;
}
.icon a .icon-item i{
	font-size: 16px;
	color: #fffeff;
}
.icon a .icon-item:hover,
.play-video:hover{
	-ms-transform: scale(1.1, 1.1); /* IE 9 */
    -webkit-transform: scale(1.1, 1.1); /* Safari */
    transform: scale(1.1, 1.1);
    transition: .3s ease;
}
/*=========================screen1============*/
.screen1{
	width: 100%;
	height: 100vh;
}
.screen1-left{
	background: linear-gradient(to bottom, #e31e3f 0%, #da1b3c 100%);
	position: relative;
	margin-left: 12%;
}
.screen1-left,
.screen1-right{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
}
.play-youtube{
	height: 100vh;
	width: 100%;
	margin-left: 0;
	display: flex;
	justify-content: center;
	display: none;
}
.logo{
	position: relative;	
	height: 90px;
	top: 25px;
	left: 8%;
	position: fixed;
}
.logo-red{
	display: none;
}
.screen1-content{
	text-transform: uppercase;
}
.hidden-content{
	display: none;
}
.play-video{
	padding: 6% 30%;
	text-align: center;
}
.content-top{
	line-height : 0%;
}
.content-bottom{
	padding-left: 105px;
}
.content-top p,
.content-bottom p{
	font-size: 27px;
}
.content-top p span,
.content-bottom p span{
	font-size: 40px;
}

/*=================screen1-right==========*/
.screen1-right{
	/*padding-top: 60px;*/
	padding-right: 27px;
	background-color: #fdfdfd;
}
.language{
	position: fixed;
	right: 20px;
	top: 22px;
}
.language ul li{
	display: inline-block;
	padding: 0px 12px;
}
.language ul li a,
.language ul li.search input,
form.form-screen1 button,
.img-icon,
.img-icon p,
.screen3-content .description
.register-box button{
	font-size: 14px;
}
.language ul li.choose a{
	border-bottom: 1px solid #989898;
}
.language ul li.search{
	color: #ce1635;
	font-size: 18px;
	padding-left: 0px;
}
::-webkit-input-placeholder{
	font-size: 13px;
}
.language ul li.search input{
	background: 0;
	overflow: hidden;
	border:0.5px solid #989898;
	border-radius: 4px;
	outline: none;
	font-family: arial;
	display: none;
	padding-left: 7px;
}
.language ul li.search {
	border-left: 1.5px solid #151515;
	padding-left: 12px;
}
.contact{
 	padding: 45px 20px;
}
.contact .short-content,
form.form-screen1 button,
.info-video b,
.tooltiptext,
.img-content{
 	font-family: "BrandonTextF-Bold";
}
.contact .short-content,
.info-video b{
 	color: #5f5f5f;
 	font-size: 27px;
 	font-weight: 600;
}
.contact .short-content span{
 	color: #000;
}
.progress-content,
form.form-screen1 input.info,
form.form-screen1 p,
form.form-screen1 .checkbox,
.content-top,
.content-bottom,
.screen-title .title-top,
.info-video .date,
.info-video .ratting,
.swiper-slide .title,
.swiper-slide .text.
.footer{
	font-family: "BrandonTextF-Regular";
}
.progress{
	height: 7px !important;
	margin-bottom: 7px !important;
}
.progress-bar.progress-bar-danger{
	height: 7px !important;
	border-radius: 8px;
}
form.form-screen1{
	float: left;
	padding-top:15px;
}
form.form-screen1 input.info{
	background: 0;
	overflow: hidden;
	border:1px solid #cacaca;
	outline: none;
	background-color: #f5f5f5;
	width: 100%;
	padding:9px 0;
	border-radius: 5px;
	padding-left: 15px;
}
form.form-screen1 .checkbox{
	background-color: #f5f5f5;
	border:1px solid #cacaca;
	padding:9px 0;
	border-radius: 5px;
	padding-left: 16px;
	margin-top: 32px !important;
	color: #333333;
	text-shadow: 0.3px 0.3px #cdcdcd; 
	font-size: 15px;
}
input[type="checkbox"] {
	margin:6px 0 0 ;
}
form.form-screen1 button{
	background-color: #d41737;
	border:0;
	padding:9px 44px;
	margin: 15px 0;
	border-radius: 4px;
	font-weight: 600;
	outline: none;
}
form.form-screen1 button:hover,
.icon-button button:hover,
.register-box button:hover{
	box-shadow: 0px 0px 30px #888888;
	transition: .50s ease; 
}
/*========================screen2=====================*/
.screen2,
.screen3,
.screen4{
	width: 94%;
	margin-left: 6%;
	height: 100vh;
	position: relative;
	margin:0 auto;
	text-align: center;
}
.screen2{
	padding: 10px 0;
}
.screen2-content,
.screen3-content,
.screen4-content{
	width: 100%; 
	height: 100%; 
	align-content: center; 
	align-items: center; 
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.screen2-content{
	background-image: url(../img/hieu-ung.png);
	background-repeat: no-repeat;
}
.screen2 .screen-title {
	margin: 30px 0;
}
.screen-title .title-top{
	color:#c72031;
	font-size: 30px;
	line-height: 50%;
}
.screen-title .title-bottom{
	font-size: 17.5px;
}
.screen2-content .img-info{
	background-size: cover;
	/*margin-top: 10px;*/
	margin-bottom: 10px;
}
.screen2-content .img-info img{
	max-width: 100%;
}
/*======slider screen2====*/
.swiper-container.screen2{
	height: 200px;
	width: 93%;
	overflow: visible;
}
.screen2 .swiper-container .swiper-slide {
text-align: center;
flex-direction: column;
/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}
.swiper-container.screen2.swiper-container-horizontal>.swiper-pagination-bullets{
	bottom: 0px !important;
	display: none;
}
/*.swiper-container.screen2 .swiper-button-next.swiper-button-white{
	display: none;
	background: url(../img/next.png) no-repeat !important;
}
.swiper-container.screen2 .swiper-button-prev.swiper-button-white{
	background: url(../img/previous.png) no-repeat !important;
	display: none;
}*/
.swiper-container.screen2 .swiper-pagination-bullet-active{
	background: #cc2133;
}
.screen2 .swiper-container .swiper-slide .img-content{
	margin-top: 7px;
	font-weight: 600;
	font-size: 15px;
}

.toll + .tooltip > .tooltip-inner {
  background-color:#fff; 
  color: #000; 
  border: 2px solid #cc2133; 
  padding: 6px 8px;
  font-size: 13px;
  font-weight: 600;
  transition: all .3s ease;

}
/* Tooltip on top */
.toll + .tooltip.top > .tooltip-arrow {
  border-top: 5px solid #cc2133;
  transition: all .3s ease;
}
.img-icon{
	background: #cc2133 ;
	width: 125px ;
	height: 125px ;
	border-radius: 100%;
	line-height: 8.8;
}
.img-icon img{
	max-width: 62px;
	height: auto;
}

/*=======================screen3=============*/
.screen3{
	background-color: #f7f7f7;
}
.screen3-content .description{
	color: #777777;
	margin-bottom: 30px;
}
.screen3-content .screen-title{
	margin-top: 25px;
}
/* slider*/
.swiper-container.screen3 {
    width: 700px;
    height: 370px;
}
.swiper-container.screen3 .swiper-slide {
    background-position: center;
    background-size: cover;
    height: 315px;
    width: 470px;

}
.swiper-slide.swiper-slide-next.slider-screen3{
	transform: translate3d(-200px, 0px, -200px) rotateX(0deg) rotateY(0deg) !important;
}
.swiper-slide.swiper-slide-prev.slider-screen3{
	transform: translate3d(200px, 0px, -200px) rotateX(0deg) rotateY(0deg) !important;
}
.swiper-container.screen3 .swiper-pagination-bullet-active {
	background-color: #cc2133 !important;
	width: 40px !important;
	border-radius: 7px !important;
}
.info-video{	
	text-align: center;
	margin-top: 10px;
}
.info-video b{
	color: #333333;
	font-size: 22px;
}
.info-video .date{
	color: #999999;
}
.info-video .ratting{
	color: #666666;
	font-size: 16px;
}

/*=========================screen4===================*/
.screen4-content .screen-title{
	margin-top: 55px;
}
.swiper-container.screen4 {
    width: 60%;
    height: 345px;
    margin-top: 30px;
    padding-top: 0 !important;
}
.swiper-container.screen4 .swiper-slide {
	max-width: 100%;
	background: #e0293c;
	max-height: 100%;
    font-size: 18px;
    color:#fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin:0 auto;
}
.slider-left,
.slider-right{
	float: left;
	width: 50%;
}
.slider-left{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.slider-right{
	background-size: cover;
	height: 100%;
	max-width: 100%;
	background-position: center;
}
.swiper-container.screen4 .swiper-slide .title {
    font-size: 27px;
    font-weight: 300;
    margin: 35% 0;
}
.swiper-container.screen4 .swiper-slide .text {
    font-size: 12px;
    line-height: 1.3;
    margin: 0 3%;
}

/*end slider*/
.register{
	width: 317px;
	height: 45px;
	margin: 0 auto;
	text-align: center;
	background: #cc2133;
	border-radius: 4px ;
	margin-bottom: 90px;
	margin-top: 50px;
}
.register-box{
	width: 100%;
	height: 45px;
	border-radius: 3px;
	outline: none;
}
.register-box input{
	height: 100%;
	width: 70%;
	border: 0;
	outline: none;
	background: #cc2133;
	padding:19.6px 17px;
	margin-right: -6px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	color: #f5dfe0;
}
.register-box input::-webkit-input-placeholder{
	color: #f5dfe0;
	font-size: 13px;
}
.register-box button{
	width: 30%;
	height: 100%;
	background: #e83b4d;
	border: 0;
	outline: none;
	padding:13.2px 26.5px;
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
	font-weight: 600;
	text-transform: uppercase;
}
.footer{
	width: 100%;
	text-align: center;
	padding: 15px 0;
	background-color: #e9e9e9;
	color: #333333;
	font-size: 13px;
	position: absolute;
	bottom: 0;
}

/*bookblock*/
